/* Basic Reset */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background: url('../static/SRM.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light background color */
    color: #333; /* Dark text color */
}
.nav-item{
    margin-left: 20px;
}
/* Logo */
.logo {
    height: 60px;
    width: auto;
}
/* Navbar Link Styling */
.navbar-dark .navbar-nav .nav-link {
    color: #ccc !important; /* Light gray color for links */
    font-size: 20px;
    transition: color 0.3s, transform 0.3s;
    padding-left: 30px;
    padding-right:30px;
    
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #3000f0 !important; /* Highlight color on hover */
    transform: scale(1.1); /* Slight zoom effect */
}

.navbar-dark .navbar-nav .nav-link:active {
    color: #002fff !important; /* Active color */
    transform: scale(1.15);
}

/* Navbar background */
.bg-dark {
    background-color: #000000d5 !important; /* Black background */

    
/* Background color for tab content */
.tab-content {
    background-color: #ba49fb81; /* Light blue background for tab content */
    padding: 20px;
    border: 1px solid #ba49fb81; /* Light blue border for tab content */
    border-top: none; /* Remove border from the top to blend with tabs */
    border-radius: 0 0 5px 5px; /* Rounded corners at the bottom */
}
/* Navbar styling */
.navbar-brand .logo {
    height: 50px;
    width: auto;
    margin-right: 10px;
}
.navbar {
    background-color: #343a40; /* Dark grey/black background */
}
}
/* Logout Button Styling */
.navbar-dark .logout-btn {
    color: #fff; /* Text color */
    background-color: #ff4c4c; /* Red background color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbar-dark .logout-btn:hover {
    background-color: #ff3333; /* Darker red on hover */
}
