/* Basic Reset */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light background color */
    color: #333; /* Dark text color */
}
.nav-tabs .nav-link {
    background-color: #e0f7fa; /* Light blue background for tabs */
    border-color: #b2ebf2; /* Light blue border color */
    color: #007bff; /* Blue text color for non-active tab */
}

.nav-tabs .nav-link.active {
    background-color: #4dc4fb; /* Slightly darker blue for active tab */
    border-color: #0288d1; /* Darker blue border for active tab */
    color: white; /* White text for active tab */
}

.nav-tabs .nav-link:hover {
    background-color: #41bdf7; /* Light blue hover effect */
    color: #0056b3; /* Darker blue text on hover */
}

/* Background color for tab content */
.tab-content {
    background-color: #ba49fb81; /* Light blue background for tab content */
    padding: 20px;
    border: 1px solid #ba49fb81; /* Light blue border for tab content */
    border-top: none; /* Remove border from the top to blend with tabs */
    border-radius: 0 0 5px 5px; /* Rounded corners at the bottom */
}
/* Navbar styling */
.navbar-brand .logo {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.navbar {
    background-color: #343a40; /* Dark grey/black background */
}

