/* Background for the entire page */
body {
    background: url('../static/SRM.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial', sans-serif;

    /* Flexbox centering */
    display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center;     /* Vertical center */
    height: 100vh;           /* Full viewport height */
    margin: 0; 
    /*padding-top: 50px;            /* Remove default body margin */
}

/* Logo styling */
.logo {
    max-width: 400px;
    height: auto;
}

/* Project description */
.project-description {
    font-size: 1.2rem;
    color: #131111; /* Use a standard text color */
}

/* Centered buttons */
.btn {
    font-size: 1rem;
    padding: 10px 20px;
}

a.btn:hover {
    opacity: 0.9; /* Slight hover effect for buttons */
}

/* Margin for main container */
.container {
    background-color: hsl(0, 50%, 98%); /* Slight white overlay for readability */
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: 0 auto;   
    /*margin-top: 50px;  /* Additional margin to slightly move the container down */
}
