/* Add a black background to the body */
body {
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: white; /* Ensure text is visible on black background */
}

/* Center logo styling */
.center-logo {
    max-width: 700px; /* Adjust size as needed */
    height: auto;
}

/* Paragraph styling */
.project-description {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
    color: #ffffff; /* White text color for the paragraph */
}

/* Button styles */
.btn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

/* Register Button */
.btn-outline-success {
    background-color: #007bff; /* Green background for Register */
    color: white;
}

.btn-outline-success:hover {
    background-color: #218838;
}

/* Login Button */
.btn-outline-primary {
    background-color: #007bff; /* Blue background for Login */
    color: white;
}

.btn-outline-primary:hover {
    background-color: #0056b3;
}
