/* General body styling with SRM.jpg as the background */
body {
    background: url('../static/SRM.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: #333;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
/* Centering the image container */
.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    text-align: center; /* Align content in the center */
}

.signin-image {
    max-width: 300px;
    height: auto;
    border-radius: 50%;
}

/* Styling the form container */
.container {
    max-width: 360px;
    margin: 0px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Headings */
h1 {
    color: #007bff;
    margin-bottom: 20px; /* Add more space below the heading */
    text-align: center;
    

}
/* Input fields */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
select {
    padding: 10px;
    width: 100%;
    margin-bottom: 12px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    box-sizing: border-box;
}

/* Input fields focus state */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

/* Submit button */
.submit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
}

/* Flash messages */
.alert {
    margin-top: 10px;
}

.alert-dismissible {
    padding-right: 25px;
}

.alert.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.custom-container{
    background-color: #00000097;
    width: 50%;
    padding: 30px;
    color: white;
    border-radius: 20px;
}