<html>
    <head>
        <link rel="stylesheet" href="static/signup.css">
    </head>
    <body>
        <!-- Container for the logo and the content -->
        <div class="container">

            <!-- Logo -->
            <div class="image-container">
                <img src="static/logo.jpg" alt="Logo" class="logo">
            </div>

            <!-- Admin Page Title -->
            <h1 class="center-text">ACTIVITY PLUS</h1>

            <!-- Container for Register and Login buttons -->
            <div class="button-container">
                <!-- Navigation to Signup page -->
                <a href="signup">
                    <button>Register</button>
                </a>

                <!-- Navigation to Login page -->
                <a href="login">
                    <button>Login</button>
                </a>
            </div>
        </div>
    </body>
</html>
